body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.imageContainer {
  padding: 50px;
  background-image: url("../src/Morella_panoramica_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

.oculto {
  display: none;
}


#contacto {
  background-color: #328edf;
}

.containerBloques {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.content-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.text-content {
  flex: 3;
}
.text-content p {
  color: rgb(122, 122, 122);
}

.image-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-info {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin: 10px 0;
}

.contact-info i, .contact-info img {
  margin-right: 30px;
  font-size: 30px;
  width: 30px;
  height: 30px;
}

.contact-info img.whatsapp {
  width: 30px;
  height: auto;
}

.image-content img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}


#map {
  height: 400px;
  width: 100%;
  margin-top: 20px;
}

footer {
  background-color: #0074D9;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
