body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  

}

.imageContainer {
  padding: 50px; /* Agrega espacio alrededor del contenido */
  background-image: url("../src/Morella_panoramica_1.jpg");
  background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  height: 100vh; /* Ajusta el tamaño del cuerpo al tamaño de la ventana del navegador */
  overflow: auto;
}
.oculto{
  display: none;
}

.bx  {
  font-size: 150px;
  width: 100%;
}
header {
  background: linear-gradient(90deg, #004AAD, #0088CC);
  padding: 1px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 20px 0px 0px;
}

.bxs-user-circle {
  color: #ffffff; /* Cambia el color según tu preferencia */
  font-size: 50px; /* Ajusta el tamaño si es necesario */
}

.sesion-iniciada {
  text-align: center;
  color: #ffffff; /* Cambia el color según tu preferencia */

}
.sesion-container {
  margin-right: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.sesion-container form {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
}

.sesion-container form div {
  position: relative;
  margin-bottom: 10px;

}

.sesion-container form div i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #007bff;
  
}
.sesion-botones
{
  display: inline;
  width: 200px;
}
.sesion-container form div input[type="text"],
.sesion-container form div input[type="password"] {
  padding: 8px;
  padding-left: 30px; /* Ajustamos el espacio para los iconos */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.sesion-container input[type="submit"],
.sesion-container form #btn-registro {
  width:95px  ;
  margin-bottom: 10px;
  background-color: #208bfe;
  margin: 1px;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sesion-container input[type="submit"]:hover
 {
  background-color: #0056b3;
}
.sesion-container form #btn-registro:hover{
  background-color: #30a02c;
}
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #0f0e0e;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 30%;
	border-radius: 10px;
  }

.modal-content .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content .close:hover,
.modal-content .close:focus {
  color: #ffffff;
  text-decoration: none;
}

.modal-content h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal-content .form-group {
  margin-bottom: 15px;
  position: relative;
}

.modal-content input[type="text"],
.modal-content input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.modal-content button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button[type="submit"]:hover {
  background-color: #0056b3;
}

.logo-container {
  margin-right: 20px;
}
nav{
  width: 100%;
  
}
nav ul {
  
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #328edf;
}

#inicio {
  background-color: #328edf;
}
.containerBloques {
  display: flex; /* Usamos flexbox */
  background-color: rgba(255, 255, 255, 0.8);

}
/* Estilos para los enlaces del encabezado */

.bloqueIzquierdo {
  flex: 1;
  padding: 20px;
}
.bloqueIzquierdo * {
  text-align: center;

}
.bloqueCentral {
  flex: 3; /* Toma el 60% del espacio disponible */
  padding: 20px;
}
#map {
	height: 500px;
	width: 100%;
}


.bloqueDerecho {
  flex: 1; /* Toma el 20% del espacio disponible */
  padding: 20px;
  text-align: center;
}

.pago {
  background-color: #FF4136; /* Rojo */
  color: white; /* Texto blanco */
}

.no-pago {
  background-color: #5cd85c; /* Verde */
  color: white; /* Texto blanco */
}
.leyenda div {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle; /* Alineación vertical al centro */
}
.leyenda .pago {
  background-color: #FF4136;
  width: 40px;
  height: 20px;
}
.leyenda .no-pago {
  background-color: #5cd85c   ;
  width: 40px;
  height: 20px;
}
footer {
  background-color: #0074D9;
  color: white;
  padding: 10px 20px;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.keyword {
  font-weight: bold;
  color: #4479af; /* Azul */

}
.bloqueCentral h1 {  
  text-align: center;
  color: #333;
}
.bloqueCentral p {
  color: #666;
  line-height: 1.6;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

th {
  background: #004AAD;
  color: white;
  padding: 12px;
  text-align: center;
  font-size: 1.1em;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background: #f2f2f2;
}
.carousel-container {
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%; /* Cada imagen ocupa todo el ancho del contenedor */
}

.carousel-item img {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 500px; /* La altura se ajustará automáticamente para mantener la proporción */
}

.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel-control {
  cursor: pointer;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}