body {
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  

}

.imageContainer {
  padding: 50px; /* Agrega espacio alrededor del contenido */
  background-image: url("../src/Morella_panoramica_1.jpg");
  background-size: cover; /* Ajusta la imagen de fondo al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  height: 100vh; /* Ajusta el tamaño del cuerpo al tamaño de la ventana del navegador */
  overflow: auto;
}
  .content{
    opacity: 0.9;
  }

.oculto{
  display: none;
}


  
  #reservaOnline {
    background-color: #328edf;
  }
  .containerBloques {
    display: flex; /* Usamos flexbox */
    background-color: rgba(255, 255, 255, 0.8);

  }
  /* Estilos para los enlaces del encabezado */
  
  .bloqueIzquierdo {
    flex: 1;
    padding: 20px;
  }
  .bloqueIzquierdo * {
    text-align: center;
  
  }
  
  .bloqueCentral {
    flex: 3; /* Toma el 60% del espacio disponible */
    padding: 20px;
    box-sizing: border-box;
  }
  #map {
      height: 500px;
      width: 100%;
  }
  
  
  .bloqueDerecho {
    flex: 1; /* Toma el 20% del espacio disponible */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  form {
      max-width: 400px;
      margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="date"],
  input[type="time"],
  select {
      width: 100%; /* Cambiamos el ancho al 100% */
      padding: 10px;
      margin: 10px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
  }
  
  /* Estilos para el botón de envío */
  input[type="submit"] {
      background-color: #0074D9; /* Azul */
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
      transition: background-color 0.3s; /* Transición suave */
  }
  
  /* Estilos para el botón de envío al pasar el cursor */
  input[type="submit"]:hover {
      background-color: #0056b3; /* Azul más oscuro */
  }
  
  
  .pago {
    background-color: #FF4136; /* Rojo */
    color: white; /* Texto blanco */
  }
  
  .no-pago {
    background-color: #5cd85c; /* Verde */
    color: white; /* Texto blanco */
  }
  .leyenda div {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; /* Alineación vertical al centro */
  }
  .leyenda .pago {
    background-color: #FF4136;
    width: 40px;
    height: 20px;
  }
  .leyenda .no-pago {
    background-color: #5cd85c   ;
    width: 40px;
    height: 20px;
  }
  footer {
    background-color: #0074D9;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  
  }
  .keyword {
    font-weight: bold;
    color: #4479af; /* Azul */
  
  }
  .bloqueCentral h1 {  
    text-align: center;
    color: #333;
  }
  .bloqueCentral p {
    color: #666;
    line-height: 1.6;
  }/* Estilos para el botón */
  .btn {
    background-color: #0074D9; /* Azul */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s; /* Transición suave */
    }
    
    .btn:hover {
      background-color: #45a049;
    }
    
    /* Estilos para el modal */
    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
    }
    
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
      border-radius: 10px;
    }
    
    .close {
      color: #aaaaaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
    .reserva-container {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f0f0f0;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h2 {
      color: #333;
      text-align: center;
  }

  .reserva-item {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 10px;
  }

  .reserva-item p {
      margin-top: 5px;
      margin-bottom: 0;
  }

  .no-reservas {
      color: #999;
      font-style: italic;
      text-align: center;
  }
    